{% extends 'base3.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Edit Post</h2>

<div id="popup-overlay">
    <div id="success-popup" class="popup-message">
        <p>Marketplace post update successful!</p>
    </div>
</div>

<form method="post" enctype="multipart/form-data" id="editForm">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}"><h3>Title:</h3></label>
        {{ form.title|as_crispy_field }}
    </div>

    <div class="form-group">
        <label for="{{ form.description.id_for_label }}"><h3>Please describe your item:</h3></label>
        {{ form.description|as_crispy_field }}
    </div>

    <div class="form-group">
        <label for="{{ form.image.id_for_label }}"><h3>Upload an image of your item:</h3></label>
        <p>Existing image</p>
        <img src="{{ image_url }}" alt="Image of trading item">
        <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" onchange="previewImage(event)">
        <p>New image</p>
        <img id="image-preview" style="max-width: 100px; display: none;">
        {{ form.image.errors }}
        {{ form.image.help_text }}
    </div>

    <div class="form-group">
        <label for="{{ form.category.id_for_label }}"><h3>Category:</h3></label>
        {{ form.category|as_crispy_field }}
    </div>

    <div class="form-group">
        <label for="{{ form.condition.id_for_label }}"><h3>Condition:</h3></label>
        {{ form.condition|as_crispy_field }}
    </div>

    <div class="form-group">
        <label for="{{ form.status.id_for_label }}"><h3>Status:</h3></label>
        {{ form.status|as_crispy_field }}
    </div>
    <button type="submit">Update</button>
</form>

<a class="btn btn-edit" href="{% url 'trading_list' %}">Cancel Edit</a>

{% endblock %}