{% extends 'base3.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Create new trading post</h2>
<div id="thankYouModal" class="modal">
    <div class="modal-content">
        <h2>Thank you for adding your item.</h2><br><p>It will show as pending until admin has the opportunity to check and verify the post.<br>You will see when it has been accepted, because the "pending" label will be removed.<br>Happy cycling!</p>
        <button id="modalOkBtn" class="btn btn-edit">OK</button>
    </div>
</div>
<form id="trade-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}"><h3>Title:</h3></label>
        {{ form.title|as_crispy_field }}
        {% if form.title.errors %}
        <div class="error">{{ form.title.errors.as_text }}</div>
    {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.description.id_for_label }}"><h3>Please describe your item:</h3></label>
        {{ form.description|as_crispy_field }}
        {% if form.description.errors %}
        <div class="error">{{ form.description.errors.as_text }}</div>
    {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.image.id_for_label }}"><h3>Upload an image of your item:</h3></label>
        <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" onchange="previewImage(event)">
        <img id="image-preview" style="max-width: 200px; display: none;">
        {{ form.image.errors }}
        {{ form.image.help_text }}
    </div>

    <div class="form-group">
        <label for="{{ form.category.id_for_label }}"><h3>Category:</h3></label>
        {{ form.category|as_crispy_field }}
    </div>

    <div class="form-group">
        <label for="{{ form.condition.id_for_label }}"><h3>Condition:</h3></label>
        {{ form.condition|as_crispy_field }}
    </div>

    <div class="form-group">
        <label for="{{ form.status.id_for_label }}"><h3>Status:</h3></label>
        {{ form.status|as_crispy_field }}
    </div>

    <button type="submit" class="btn btn-edit">Submit</button>
    <a href="{% url 'trading_list' %}" class="btn btn-edit">Return to Market without Posting</a>
</form>

{% endblock %}