{% extends 'base2.html' %}

{% load static %}
{% load custom_filters %} 

{% block content %}
<h1>You will be booking a {{ service.name }} as "{{ user }}"</h1>

<h2>Please select a Location for {{ service.name }}</h2>

{% if total_available_slots == 0 %}
<p>There are no active bookings available for this service at this time.</p>
{% else %}
{% for place in places %}
{% if places_slots_info|get_item:place.id > 0 %}
<div class="place_choice">
    <form method="post" action="{% url 'book_service' service.id place.id %}">
        {% csrf_token %}
        <div>
            <button type="submit"><i class="fa-solid fa-bicycle"></i> {{ place.name }} <i
                    class="fa-solid fa-bicycle"></i></button>
        </div>
        <div>
            <p>Available Slots: {{ places_slots_info|get_item:place.id }}</p>
        </div>  
    </form>
</div>
{% endif %}
{% endfor %}
{% endif %}
<a class="btn btn-a" href="{% url 'service_list' %}">Return to Services and Bookings</a>

{% endblock %}