{% extends 'base2.html' %}

{% load static %}

{% block content %}
<h1>Welcome to services and bookings, {{ user }}</h1>
<div>
    <a class="btn btn-a" href="{% url 'booking_status' %}">View my current bookings</a>
</div>

<h2>Please have a look at the services we offer</h2>
<ul class="services">
    {% for service in services %}
    <li>
        <div class="service">
            <h3><i class="fa-solid fa-bicycle"></i> {{ service.name }} <i class="fa-solid fa-bicycle"></i>   £{{ service.price }} </h3>
            <p> {{ service.description }} </p>
            <ul class="service_description fa-ul">
                {% for detail in service.get_description_detail_bullets_list %}
                    <li>{{ detail }}</li>
                {% endfor %}
                <div>
                    <a class="btn btn-a" href="{% url 'select_place' service.id %}">View Details & Book</a>
                </div>
            </ul>
        </div>
    </li>
    {% empty %}
    <p>No services available.</p>
    {% endfor %}
</ul>

<script src="{% static 'script/script.js' %}"></script>

{% endblock %}