{% extends 'base2.html' %}

{% load static %}

{% block content %}
<h1>Welcome to services and bookings, {{ user }}</h1>
<div>
    <a class="btn btn-a" href="{% url 'booking_status' %}">View my current bookings</a>
</div>

<h2>Please have a look at the services we offer</h2>
<ul>
    {% for service in services %}
    <li>
        <div>
            <h3>{{ service.name }}</h3>
            <h3>£{{ service.price }} </h3>
            <p> {{ service.description }} </p>
            <ul class="service_description fa-ul">
                {% for feature in service.get_key_features_list %}
                    <li>{{ feature }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <a class="btn btn-a" href="{% url 'service_detail' service.id %}">View Details & Book</a>
        </div>
    </li>
    {% empty %}
    <p>No services available.</p>
    {% endfor %}
</ul>

<script src="{% static 'script/script.js' %}"></script>

{% endblock %}