{% extends 'base4.html' %}

{% block content %}
    <h1>{{ ride.title }}</h1>
    <p><strong>Date:</strong> {{ ride.date }} <strong>Time:</strong> {{ ride.start_time }} </p>
    <p><strong>Start Place:</strong> {{ ride.start_place }}</p>
    <p><strong>End Place:</strong> {{ ride.end_place }}</p>
    <p><strong>Distance:</strong> {{ ride.distance }} km</p>
    <p><strong>Difficulty:</strong> {{ ride.get_difficulty_display }}</p>
    <div class="display_block">
        <p><strong>Description:</strong> {{ ride.route_description }}</p>
        <img src="{{ ride.image.url }}" alt="{{ ride.title }}" />
    </div>

{% endblock %}
