{% extends 'base4.html' %}

{% block content %}
<div class="display-container">
    <h1><strong>Social Rides</strong><br>- join a planned ride or create a new one</h1>
    <div class="verified-attendance-total">
        <h4>Rides<br>Completed:<br>
        <i class="fa fa-bicycle"></i> <strong>{{ verified_attendance_count }}</strong></h4>
    </div>
</div>

<a href="{% url 'add_ride' %}" class="btn btn-edit">Create New Ride</a>
{% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="message-box">
        <div class="{{ message.tags }}">{{ message }}</div>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
<h2>Upcoming Rides</h2>
<div class="rides-list">
    {% for ride in upcoming_rides %}
    <div class="ride">
        <h2><a href="{% url 'ride_details' pk=ride.pk %}">{{ ride.title }}</a>
            {% if ride.id in registered_ride_ids %}
            <i class="fas fa-bicycle"></i>
            {% endif %}
        </h2>
        {% if not ride.is_verified %}
        <div class="alert alert-info" role="alert">
            This ride is pending verification.
        </div>
        {% endif %}
        {% if ride.is_cancelled %}
        <div class="alert alert-warning" role="alert">
            <h4>Sorry, this ride has been cancelled.</h4>
        </div>
        {% else %}
        <p>Spaces Left: {{ ride.spaces_left }}</p>
        {% endif %}
        {% if request.user == ride.organiser %}
        {% if not ride.is_cancelled %}
        {% if ride.attendees.count == 0 and not ride.is_verified %}
        <a href="{% url 'edit_ride' ride.id %}" class="btn btn-edit">Edit</a>
        <a href="{% url 'confirm_delete_ride' ride_id=ride.id %}" class="btn btn-delete">Delete</a>
        {% else %}
        <a href="{% url 'confirm_cancel_ride' ride_id=ride.id %}" class="btn btn-delete">Cancel Ride</a>
        {% endif %}
        {% else %}
        <p>This ride has been cancelled.</p>
        {% endif %}
        {% endif %}
        <p>Date: {{ ride.date }} Time: {{ ride.start_time }}</p>
        <p>Length: {{ ride.distance }} km </p>
        {% if ride.image %}
        <img src="{{ ride.image.url }}" alt="{{ ride.title }}">
        {% endif %}
    </div>
    {% empty %}
    <p>No upcoming rides at the moment. Why not organise one?</p>
    {% endfor %}
</div>

<h2>Past Rides</h2>
<div class="rides-list">
    {% for ride in past_rides %}
    <div class="ride">
        <h2><a href="{% url 'ride_details' pk=ride.pk %}">{{ ride.title }}</a>
            {% if ride.id in registered_ride_ids %}
            <i class="fas fa-bicycle"></i>
            {% endif %}
        </h2>
        <p>Date: {{ ride.date }} Time: {{ ride.start_time }}</p>
        {% if ride.is_cancelled %}
        <p class="alert alert-warning">This ride was cancelled.</p>
        {% endif %}
        {% if ride.image %}
        <img src="{{ ride.image.url }}" alt="{{ ride.title }}">
        {% endif %}
    </div>
    {% empty %}
    <p>No past rides.</p>
    {% endfor %}
</div>
{% endblock %}