{% extends 'base4.html' %}

{% block content %}
<h1>Planned Social Rides</h1>
<a href="{% url 'add_ride' %}" class="btn btn-edit">Create New Ride</a>
<h2>Upcoming Rides</h2>
<div class="rides-list">
    {% for ride in upcoming_rides %}
    <div class="ride">
        <h2><a href="{% url 'ride_details' pk=ride.pk %}">{{ ride.title }}</a>
            {% if ride.id in registered_ride_ids %}
            <i class="fas fa-bicycle"></i>
            {% endif %}
        </h2>
        {% if not ride.is_verified %}
        <div class="alert alert-info" role="alert">
            This ride is pending verification.
        </div>
        {% endif %}
        {% if ride.is_cancelled %}
            <div class="alert alert-warning" role="alert">
                <h2>Sorry, this ride has been cancelled.</h2>
            </div>
        {% else %}
            <p>Spaces Left: {{ ride.spaces_left }}</p>
        {% endif %}
        {% if request.user == ride.organiser %}
        {% if not ride.is_cancelled %}
        {% if ride.attendees.count == 0 and not ride.is_verified %}
            <a href="{% url 'edit_ride' ride.id %}" class="btn btn-edit">Edit</a>
            <a href="{% url 'confirm_delete_ride' ride_id=ride.id %}" class="btn btn-delete">Delete</a>
        {% else %}
            <a href="{% url 'confirm_cancel_ride' ride_id=ride.id %}" class="btn btn-delete">Cancel Ride</a>
        {% endif %}
        {% else %}
            <p>This ride has been cancelled.</p>
        {% endif %}
        {% endif %}
        <p>Date: {{ ride.date }} Time: {{ ride.start_time }}</p>
        <p>Length: {{ ride.distance }} km </p>
        {% if ride.image %}
        <img src="{{ ride.image.url }}" alt="{{ ride.title }}">
        {% endif %}
    </div>
    {% empty %}
    <p>No upcoming rides at the moment. Why not organise one?</p>
    {% endfor %}
</div>

<h2>Past Rides</h2>
<div class="rides-list">
    {% for ride in past_rides %}
    <div class="ride">
        <h2><a href="{% url 'ride_details' pk=ride.pk %}">{{ ride.title }}</a>
            {% if ride.id in registered_ride_ids %}
            <i class="fas fa-bicycle"></i>
            {% endif %}
        </h2>
        <p>Date: {{ ride.date }} Time: {{ ride.start_time }}</p>
        {% if ride.image %}
        <img src="{{ ride.image.url }}" alt="{{ ride.title }}">
        {% endif %}
    </div>
    {% empty %}
    <p>No past rides.</p>
    {% endfor %}
</div>
{% endblock %}