{% extends 'base4.html' %}

{% block content %}
<h1>Verify Attendance for {{ ride.title }}</h1>

<form method="post">
    {% csrf_token %}
    {% for attendee in attendees %}
        <div>
            <label for="verify_{{ attendee.id }}">{{ attendee.participant.username }}
            <input type="checkbox" id="verify_{{ attendee.id }}" name="verify_{{ attendee.id }}"{% if attendee.is_verified %}checked{% endif %}>
        </label>
        </div>
    {% endfor %}
    <button type="submit">Update Attendance</button>
</form>

{% endblock %}