{% extends 'base2.html' %}

{% load static %}

{% block content %}
<h1>You will be booking a {{ service.name }} as "{{ user }}"</h1>

<h2>Please select a Location for {{ service.name }}</h2>

<ul>
    {% for place in places %}
        <li>
            <form method="post" action="{% url 'book_service' service.id place.id %}">
                {% csrf_token %}
                <button type="submit">{{ place.name }}</button>
                <p>Available Slots: {{ place.available_slots }}</p>
            </form>
        </li>
    {% empty %}
        <p>There are no active bookings available for this service at this time.</p>
    {% endfor %}
</ul>

<a class="btn btn-a" href="{% url 'service_list' %}">Return to Services and Bookings</a>

{% endblock %}