{% extends 'base2.html' %}

{% load static %}

{% block content %}
<h1>{{ user }} here are your bookings:</h1>

{% for booking in bookings %}
<div class="booking">
    <p>Service: {{ booking.service.name }}</p>
    <p>Date: {{ booking.slot.start_time|date:"D, d M Y" }}</p>
    <p>Time: {{ booking.slot.start_time|time:"H:i" }} - {{ booking.slot.end_time|time:"H:i" }}</p>
    <p>Status: {{ booking.status }}</p><span class="status-{{ booking.status|lower }}"></span>
    {% if booking.status == 'pending' or booking.status == 'confirmed' %}
      <form method="post" action="{% url 'cancel_booking' booking.id %}">
        {% csrf_token %}
        <button type="submit">Cancel Booking</button>
      </form>
    {% endif %}
</div>
{% empty %}
    <p>You have no bookings.</p>
{% endfor %}

<a class="btn-a" href="{% url 'service_list' %}">Return to Services and Bookings</a>

{% endblock %}