{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to Cyclist Connect{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username }}!</h2>
        <p>Head over to the <a href="{% url 'userforum' %}">Forum Page</a>.</p>
    {% else %}
        <h2>Welcome to CYCLIST CONNECT!</h2> 
        <h3>Please Sign In</h3>
        <form method="post" action="{% url 'userforum' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="********">
            <div class="centralise-button">
                <button type="submit">Sign In</button>
            </div>
        </form>
        <div class="sign-up-link">
            <p>or <a href="{% url 'sign_up' %}">create an account</a>.</p>
        </div>
    {% endif %}
{% endblock %}
