{% extends 'base1.html' %}

{% block content %}
<div id="profile_view" class="container">
    <h2>Profile Details</h2>
    {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
    {% endif %}
    <p><strong>Biography:</strong> {{ profile.biography }}</p>
    <p><strong>Cycling Skills:</strong> {{ profile.cycling_skills }}</p>
    <p><strong>Preferred Ride Type:</strong> {{ profile.preferred_ride_type }}</p>
    <p><strong>Maintenance Skills:</strong> {{ profile.maintenance_skills }}</p>
    <a href="{% url 'profile_edit' %}" class="btn btn-edit">Edit Profile</a>
</div>
{% endblock %}