{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Post Details" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<h2>{{ post.title }}</h2>
<p>{{ post.content | safe }}</p>
<h3>Comments:</h3>
{% for comment in comments %}
    {% if request.user.id == comment.name_id %}
        <a href="{% url 'edit_forum_comment' post_id=post.id comment_id=comment.id %}" class="btn btn-edit">Edit</a>
        <!-- <a href="{% url 'delete_forum_comment' comment.id %}" class="btn btn-delete">Delete</a> -->
    {% endif %}  
    <p>{{ comment.body | linebreaks }} - {{ comment.name }}, {{ comment.created_on|date:"d-m-Y" }}</p>
    {% empty %}
    <p>No comments yet.</p>
{% endfor %}

<h3>Add a comment:</h3>
<form method="post">
    {% csrf_token %}
    {{ comment_form | crispy }}
    <button type="submit">Submit</button>
</form>

<a href="{% url 'userforum' %}" class="btn btn-return">Return to main forum</a>


{% endblock %}