{% extends 'base1.html' %}

{% load static %}
<link href="{% static 'summernote/summernote-bs4.css' %}" rel="stylesheet">
<script src="{% static 'summernote/summernote-bs4.js' %}"></script>

{% block content %}
<h1>Welcome to the forum {{ user }}</h1>

<h2>Join the community discussion</h2>
<form method="post">
    {% csrf_token %}
    {{ form.title }}
    {{ form.content }}
    <button type="submit">Post</button>
</form>

<h2>Seach existing posts</h2>
<form method="get" action="{% url 'forum_search' %}">
    <input type="text" name="q" value="{{ query }}" placeholder="Search the forum...">
    <button type="submit">Search</button>
</form>

{% for post in page_obj %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        {% if request.user.id == post.UserId_id %}
            <a href="{% url 'edit_forum_post' post.id %}" class="btn btn-edit">Edit</a>
            <a href="{% url 'delete_forum_post' post.id %}" class="btn btn-delete">Delete</a>
        {% endif %}        
        <h4>{{ post.UserId }} on {{ post.created_on|date:"d-m-Y" }}</h4>
        <p>{{ post.content|safe }}</p>
        
        <strong>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'like_post' post.id %}" method="POST">
                {% csrf_token %}
                {% if post.id in liked_post_ids %}
                    <button type="submit" name="forumpost_id" value="{{post.id}}" class="btn-like"><i class="fas fa-star"></i></button>
                {% else %}
                    <button type="submit" name="forumpost_id" value="{{post.id}}" class="btn-like"><i class="far fa-regular fa-star"></i></button>
                {% endif %}
            </form>
            {% endif %}
        </strong>
        <strong class="text-second"> {{ post.number_of_likes }} </strong>
        <strong class="text-second"><a href="{% url 'userforum_post_detail' post.id %}" class="btn-comment"><i class="fa-regular fa-comments"></i></a> {{ post.number_of_comments }} </strong>

    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}