{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Post Details" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<h2>{{ post.title }}</h2>
<p>{{ post.content | safe }}</p>
<h3>Comments:</h3>
{% for comment in comments %}
    <p>{{ comment.body | linebreaks }} - {{ comment.name }}, {{ comment.created_on|date:"d-m-Y" }}</p>
    {% empty %}
    <p>No comments yet.</p>
{% endfor %}

<h3>Add a comment:</h3>
<form method="post">
    {% csrf_token %}
    {{ comment_form | crispy }}
    <button type="submit">Submit</button>
</form>


{% endblock %}