{% extends 'base1.html' %}

{% load static %}
<link href="{% static 'summernote/summernote-bs4.css' %}" rel="stylesheet">
<script src="{% static 'summernote/summernote-bs4.js' %}"></script>

{% block content %}
<h1>Welcome to the forum {{ user }}</h1>

<h2>Join the community discussion</h2>
<form method="post">
    {% csrf_token %}
    {{ form.title }}
    {{ form.content }}
    <button type="submit">Post</button>
</form>


{% for post in posts %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        {% if request.user.id == post.UserId_id %}
            <a href="{% url 'edit_forum_post' post.id %}">Edit</a>
            <a href="{% url 'delete_forum_post' post.id %}">Delete</a>
        {% endif %}
        <h4>{{ post.UserId }} on {{ post.created_on|date:"d-m-Y" }}</h4>
        <p>{{ post.content|safe }}</p>

    </div>
{% endfor %}

<!-- <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> -->

<script>
    $(document).ready(function() {
        $('#id_content_iframe').summernote({
            placeholder: 'Write your community forum contribution here...',
        });
    });
    </script>

{% endblock %}