{% extends 'base1.html' %}

{% load static %}
<link href="{% static 'summernote/summernote-bs4.css' %}" rel="stylesheet">
<script src="{% static 'summernote/summernote-bs4.js' %}"></script>

{% block content %}
<h1>Please edit your post</h1>

<form method="post">
    {% csrf_token %}
        {{ form.title }}
        {{ form.content }}
        {% for error in form.content.errors %}
            <div class="alert alert-danger"><h3>{{ error }}</h3></div>
        {% endfor %}
    <button type="submit">Update Post</button>
    <a href="{% url 'userforum' %}" class="btn btn-edit">Return to forum with no changes</a>
</form>

{% endblock %}