{% extends 'base1.html' %}

{% load static %}
<link href="{% static 'summernote/summernote-bs4.css' %}" rel="stylesheet">
<script src="{% static 'summernote/summernote-bs4.js' %}"></script>

{% block content %}
<h1>Welcome {{ user }}</h1>
<div class="forum_input">
    <h2>Join the community discussion:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}
        {{ form.content }}
        {% for error in form.content.errors %}
        <div class="alert alert-danger">
            <h3>{{ error }}</h3>
        </div>
        {% endfor %}
        <div class="button_container">
            <button type="submit">Post</button>
        </div>
    </form>

    <h2>Seach existing posts</h2>
    <form method="get" action="{% url 'forum_search' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Search the forum...">
        <button type="submit">Search</button>
    </form>
</div>

<div id="reportPostModal" class="modal">
    <div class="modal-content">
        <h2>Report Post</h2>
        <p>You are reporting a post due to offensive or inappropriate content.<br>The post will be removed until
            admin can review it.<br>The post may be returned to the forum if admin deems the report was made in
            error.<br>Do you wish to proceed with reporting this post?</p>
        <button id="confirmReportBtn" class="btn btn-edit">Confirm</button>
        <button id="cancelReportBtn" class="btn btn-edit">Cancel</button>
    </div>
</div>
{% for post in page_obj %}
<div class="post">
    <div class="heading">
        {% if post.UserId_id != request.user.id %}
        <form class="report-form" action="{% url 'report_post' post.id %}" data-post-id="{{ post.id }}" method="post">
            {% csrf_token %}
            <button class="report-button btn-edit" type="submit">Report <i class="fa-solid fa-thumbs-down"></i></button>
        </form>
        {% endif %}
        <h2>{{ post.title }}</h2>
        {% if request.user.id == post.UserId_id %}
        <a href="{% url 'edit_forum_post' post.id %}" class="btn btn-edit">Edit</a>
        <a href="{% url 'delete_forum_post' post.id %}" class="btn btn-delete">Delete</a>
        {% endif %}
    </div>
    <div>
        <h4>{{ post.UserId }} on {{ post.created_on|date:"d-m-Y" }}</h4>
    </div>
    <div>
        <p>{{ post.content|safe }}</p>
    </div>
    <div>
        <strong>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'like_post' post.id %}" method="POST">
                {% csrf_token %}
                {% if post.id in liked_post_ids %}
                <button type="submit" name="forumpost_id" value="{{post.id}}" class="btn-like"><i
                        class="fas fa-star"></i></button>
                {% else %}
                <button type="submit" name="forumpost_id" value="{{post.id}}" class="btn-like"><i
                        class="far fa-regular fa-star"></i></button>
                {% endif %}
            </form>
            {% endif %}
        </strong>
        <strong class="text-second"> {{ post.number_of_likes }} </strong>
        <strong class="text-second"><a href="{% url 'userforum_post_detail' pk=post.id %}" class="btn-comment"><i
                    class="fa-regular fa-comments"></i></a> {{ post.number_of_comments }} </strong>

    </div>
    {% if post.published_status == 0 and post.UserId_id == request.user.id %}
    <div class="reported-note">
        <p>This post has been reported. If you believe this is in error, please contact admin@cycle-connect.com.</p>
    </div>
    {% endif %}
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}